body
    background: #EEE

.board
    display: table
    table-layout: fixed

.board-row
    display: table-row

.square
    display: table-cell
    text-align: center
    cursor: pointer
    width: 20px
    padding: 10px
    overflow: hidden
    background: #FFFFFF
    &.bomb
        background: #F00
    &.hidden
        background: #AAA
    &.revealed.number-1
        background: #BAA
    &.revealed.number-2
        background: #CAA
    &.revealed.number-3
        background: #DAA
    &.revealed.number-4
        background: #EDD
    &.revealed.number-5
        background: #FDD
