$background: #E9F7F7
$background-light: #D9F7F7
$border: #A4AAA1
$accent: #EA526F

body
    background: $background

.board
    display: table
    table-layout: fixed
    border: 1px solid $border

.board-row
    display: table-row

.square
    display: table-cell
    text-align: center
    cursor: pointer
    width: 20px
    padding: 10px
    overflow: hidden
    background: #FFFFFF
    vertical-align: middle
    height: 20px
    border: 1px solid $border
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: background 0.2s ease-out
    &.bomb
        background: $accent
    &.hidden
        background: $background-light
    &.flag
        background: #A4AAA1
        color: white
    &.revealed.number-1
        background: #B1CF5F
    &.revealed.number-2
        background: #1B512D
    &.revealed.number-3
        background: #73E2A7
    &.revealed.number-4
        background: #1C7C54
    &.revealed.number-5
        background: #E40303
